.user {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: auto;
    border-radius: 3px;
    background-color: rgba(0, 128, 0, 0.151);
    padding: 1rem;
    // margin-top: 2rem;
    margin-bottom: 30rem;
    h1 {
        margin-left: 1rem;
        margin-top: 3rem;
    }
    .user__card {
        margin-top: 1rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .6rem;
        border-radius: 3px;
        background-color: rgba(225, 0, 0, 0.05);
        .divider {
            display: flex;
        }
        .avatar {
            margin-right: 2rem;
            border-radius: 50%;
        }
        .indicator {
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            justify-content: flex-end;
            // background-color: aqua;
        }
    }
}